<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Education and hobbies</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">
                        In this section we can see information related to my education and hobbies
                    </p>
                </div>
            </div>
        </div>
    </header>

    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="text-white mt-0">
                        Education
                    </h2>
                    <hr class="divider light my-4" />
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Public Health, Specialization Telemedicine
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Master's Degree
            </p>
            <p class="text-white-50 mb-4">
                University of Rzeszow
            </p>
            <p class="text-white-50 mb-4">
                Graduated in 2020
            </p>
        </div>
        <br />
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Emergency Medical Services
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Bacheler's Degree
            </p>
            <p class="text-white-50 mb-4">
                University of Rzeszow
            </p>
            <p class="text-white-50 mb-4">
                Graduated in 2018
            </p>
        </div>
    </section>
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="text-white mt-0">
                        Hobbies
                    </h2>
                    <hr class="divider light my-4" />
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Technologies in medicine
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                One of my main interests in this field are supporting systems aimed especially at elderly or disabled persons.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Programming
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                It is directly linked to the previous hobby.
                This is an area that I wanted to get know from the first touch with the computer, but everything accelerated with the arrival of 2017.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Board and computer games
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Currently I'm focusing mainly on RPGs, additionally I'm trying to explore the history of games.
                From board games I usually play the Talisman and D&D.
                From computer games I prefer the Dark Souls series and World of Warcraft.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Blacksmithing
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                In my spare time I am producing knives, daggers, jewelry and arrowheads.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Mixology
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                I worked as a bartender for almost two years, where I got caught up in the love of complicated drinks. Mixology is nothing more than a scientific explanation of the processes involved in making drinks.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Archery
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                In most games I always chose an archer, so one time I wanted to try. And so I began my adventure with archery.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Woodworking
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                In my spare time, I make epoxy river tables and small wooden jewelry.
            </p>
        </div>
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Fantasy literature
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                I have been reading for a few years in my free time, mainly fantasy, but I don't despise any good book.
                Among my favourite authors I can mention for example Peter V. Brett, Jarosław Grzędowicz and Steven Erikson.
            </p>
        </div>
    </section>

    <footer class="bg-light py-5">
        <div class="container"><div class="small text-center text-muted">Jakub Pawelec 2020</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
</body>
</html>