<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">My Courses</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">
                        Here you will find my latest achievements and obtained certificates
                    </p>
                </div>
            </div>
        </div>
    </header>
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">
                        Publication of a chapter in a scientific monograph entitled:
                        "Współczesne Uwarunkowania Rozwoju Człowieka.
                        Konteksty Edukacyjne, Społeczne I Kulturowe"
                    </h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">
                        Sep 2020, Chapter title: "Uzależnienie od gier wideo - czy jesteśmy
                        świadomi tego problemu?"
                    </p>
                    <p class="text-white-50 mb-4">
                        Summary:
                        The main objective was to examine the state of society's knowledge about addiction to video games, based on the example of the inhabitants of Podkarpackie voivodeship. An additional objective was to check whether there are relations between the level of knowledge about video game addiction and gender, age, education level and place of residence of the respondents.
                        Material and methods. The survey was conducted in the first quarter of 2020. The diagnostic method used in this study was a survey questionnaire using a survey technique. The research tool was a survey questionnaire created by author of the study, published on the Internet and distributed in paper form.  The knowledge of 508 respondents on the subject of addiction to video games was verified using a point scale.
                        Conclusions:
                        1.	The general level of knowledge presented by the surveyed inhabitants of Podkarpackie voivodeship on the subject of addiction to video games was most often (47.1%) low.
                        2.	Greater knowledge on the subject of addiction to video games was shown by the following persons: female gender, over 24 years of age, having higher education and residents of large cities, and these were statistically significant relationships.
                        3.	Young people, from around 10 years of age, are able to understand the importance of issues related to dependence on games and prevention, which may be conducive to starting education at this age related to this problem.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Creative Skills for Innovation
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Dec 2019, Google
            </p>
            <a href="assets/img/portfolio/thumbnails/6.jpg">
                <img src="~/assets/img/portfolio/fullsize/6.jpg" alt="Image" />
            </a>
        </div>
    </section>
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">
                        II Rzeszowskie Forum Technologia w Medycynie "Od pomysłu
                        do przemysłu"
                    </h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">
                        Oct 2018, Klaster TECHNOMED
                    </p>
                    <a href="assets/img/portfolio/thumbnails/6.jpg">
                        <img src="~/assets/img/portfolio/fullsize/6.jpg" alt="Image" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Immediate Life Support (ILS)
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Dec 2017, European Resuscitation Council
            </p>
            <a href="assets/img/portfolio/thumbnails/6.jpg">
                <img src="~/assets/img/portfolio/fullsize/6.jpg" alt="Image" />
            </a>
        </div>
    </section>
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">
                        Kampania Edukacyjna "Młodzieżowa Akademia
                        Bezpieczeństwa"
                    </h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">
                        May 2017, Generator Inspiracji
                    </p>
                    <a href="assets/img/portfolio/thumbnails/6.jpg">
                        <img src="~/assets/img/portfolio/fullsize/6.jpg" alt="Image" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="text-white mt-0">
                Young Product Specialist
            </h2>
            <hr class="divider light my-4" />
            <p class="text-white-50 mb-4">
                Mar 2017, Johnson & Johnson Medical Devices Companies
            </p>
            <a href="assets/img/portfolio/thumbnails/6.jpg">
                <img src="~/assets/img/portfolio/fullsize/6.jpg" alt="Image" />
            </a>
        </div>
    </section>
    <!-- Contact-->
    <footer class="bg-light py-5">
        <div class="container"><div class="small text-center text-muted">Jakub Pawelec 2020</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
</body>
</html>