<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">My Projects</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">
                    Here i will try to show you recent projects. If you are looking for all my resources please chcec my GitHub site!
                </p>
            </div>
        </div>
    </div>
</header>

<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="text-white mt-0">
            XLSX Reader
        </h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">
            Small app designet for convertig Excel.xlsx files to SQL databases.
        </p>
        <p class="text-white-50 mb-4">
            <a class="btn btn-light btn-xl" href="https://github.com/hezuite1112/XLSXreader">GitHub Repository</a>
        </p>
    </div>
</section>
<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">
                    Snake
                </h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Smiple Snake game build as practice exercise.
                </p>
                <p class="text-white-50 mb-4">
                    <a class="btn btn-light btn-xl" href="https://github.com/hezuite1112/Snake">GitHub Repository</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="text-white mt-0">
            Memorizer
        </h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">
            Smiple memorize game build as practice exercise.
        </p>
        <p class="text-white-50 mb-4">
            <a class="btn btn-light btn-xl" href="https://github.com/hezuite1112/Memorizer">GitHub Repository</a>
        </p>
    </div>
</section>
<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">
                    MVC Portfolio Site
                </h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    My portfolio site in .Net Core MVC
                </p>
                <p class="text-white-50 mb-4">
                    <a class="btn btn-light btn-xl" href="https://github.com/hezuite1112/PortfolioSite.MVC">GitHub Repository</a>
                </p>
            </div>
        </div>
    </div>
</section>


<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted">Jakub Pawelec 2020</div></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="~/js/scripts.js"></script>